[server]
# username for running the daemon
username = 
# hostname. set it to a FQDN in order to be reached from outside
host = localhost
# ports
electrum_rpc_port = 8040
stratum_tcp_port = 5040
#stratum_tcp_ssl_port = 5042
#report_host = 
#report_stratum_tcp_port = 5043
#report_stratum_tcp_ssl_port = 5044
banner = Welcome to Electrum-OK!
banner_file = /etc/electrum-ok.banner
#irc = no
#irc_nick = <yournickname>
#ssl_certfile = /path/to/server.crt
#ssl_keyfile = /path/to/server.key
logfile = /var/log/electrum-ok.log
donation_address = 

[leveldb]
# path to your database
path = 
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 100

[bitcoind]
bitcoind_host = localhost
bitcoind_port = 6969
# user and password from okcash.conf
bitcoind_user = 
bitcoind_password = 
